@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    body {
      width: 100vw;
      height: 100vh;
      background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); 
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      font-family:  "Chakra Petch", sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .enter{
      padding: 10px 20px;
      border-radius: 40px;
      background-color: transparent;
      border: 2px solid #FF52A2;
      color: white;
      font-weight: 700;
      box-shadow: 0 0 20px rgba(255, 82, 162, 0.6);
      cursor: pointer;
      transition: 0.3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

    }
    .enter:hover {
    box-shadow: 0 0 30px rgba(0, 255, 224, 0.7);
  }
  
.credit{
      display: flex;
      position: absolute;
      bottom: 20px;
      justify-content: space-evenly;
      align-items: center;
      color: white;
}
.logos {
  position: absolute;
  top: 20px;
  right: 20px;
}
.logos ul{
  display: flex;
  list-style: none;
  gap: 15px;
}
.logos img{
  width: 40px;
  }
  .navbar{
    position: absolute;
    top: 10px;
    background-color: #ffffff;
    width: fit-content;
    padding: 20px;
    border-radius: 50px;
    color: white;
    z-index: 100;
  }
  .navbar ul{
    display: flex;
    list-style: none;
    gap: 25px;
    cursor: pointer;
  }
  .navbar ul li a{
   text-decoration: none;
   color: #000000;
  }
  .navbar ul li a:hover{
   color: #7F9CF5;
  }
.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  .hero img {
    max-width: 300px;
    margin: 20px 0;
  }
  .hero p {
    font-size: 18px;
    color: #f9f9f9;
    margin-bottom: 20px;
    line-height: 1.5;
  }
/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }
  .navbar ul {
    gap: 15px;
  }
  .hero p {
    font-size: 1rem;
  }
  .enter {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
  .logos img {
    width: 25px;
    height: 25px;
  }
  .logos ul {
    display: flex;
    position: absolute;
    flex-direction: column;
    list-style: none;
    right: -8px;
    gap: 5px;
}
}

@media (max-width: 480px) {
  .navbar ul {
    gap: 10px;
  }
  .logos ul {
    display: flex;
    position: absolute;
    flex-direction: column;
    list-style: none;
    right: -8px;
    gap: 5px;
}
  .hero img {
    max-width: 80%;
  }
  .hero p {
    font-size: 0.9rem;
  }
  .enter {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
  .logos img {
    width: 20px;
    height: 20px;
  }
  .credit {
    font-size: 0.8rem;
  }
}